<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <title>登 录</title>
<body>
<h1 class="page-header" float="center">发布会登录</h1>
<form action="/login/" method="post" class="form-horizontal">
<div class="form-group" >
<div class="col-sm-5">
    <input type="text" class="form-control" name="username"  placeholder="请输入用户名"/>
</div>
</div>
<div class="form-group" >
<div class="col-sm-5">
        <input type="password" name='password' class="form-control" placeholder="请输入密码"/>

</div>
</div>
<div class="form-group" >
<div class="col-sm-5">
    <button class="btn-primary">登 录</button>
    {{error}}
    {%csrf_token%}
</div>
</div>
</form>
</body>
</html>